*{
    box-sizing: border-box;

    /* HTML 요소가 가지고 있는 고유한 padding, margin을 모두 없앰 */
    padding: 0;
    margin: 0;
}

/* 분할된 영역에 테두리 추가 */
/* div, span, main, header, nav, footer, aside, section, article{
    border: 1px solid black;
} */

/* main */
main{
    width: 1140px;
    margin: auto; /* body 태그 가로방향 가운데 배치 */

}

/* footer */
footer{
    height: 200px;
    background-color: #a3add342;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer>p{
    font-weight: bold;
    margin: 16px 0;
}
footer>article>*{
    font-size: 14px;
}
footer>article>a{
    color: black;
    text-decoration: none;
}
footer>article>span{
    padding: 0 10px;
}

/* header */
header{
    height: 200px;

    display: flex;
    /* 내부 요소를 유연하게 배치(정렬) 
        -> 내부 요소의 자동 지정된 margin이 모두 사라져 한 줄(기본값 row)로 재치 */
}
/* flex-basis를 이용해서 main-axis 방향으로 일정한 크기를 갖게 하고
   display : flex; 설정 시 지정되는 
   align-items의 기본값 stretch를 이용해서 item의 높이(cross-axis 방향)가 부모만큼 늘어나게 함*/
header>section:nth-child(1){ flex-basis: 15%; }
header>section:nth-child(2){ flex-basis: 70%; }
header>section:nth-child(3){ flex-basis: 15%; }
/* 로고 */
#home-logo{
    width: 120px;
}
header>section:nth-child(1){
    /* 선택자 중복 작성되어도 오류 X, 모든 CSS 속성이 적용됨 */
    display: flex;
    justify-content: center;
    align-items: center;
}
/* 검색창 */
.search-area{
    width: 500px;
}
.search-area fieldset{
    padding: 2px;
    margin: 0;
    border: 2px solid #455ba8;
    border-radius: 5px;
    display: flex;
}
/* 검색어 입력 상자 */
#query{
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    border: none; /* border: 0; */

    /* outline : input 요소에 포커스가 맞춰졌을 때 이를 표현하기 위한 바깥 선 */
    outline: none;
    width: 92%;
}
/* 검색 버튼 */
#search-btn{
    width: 8%;
    background-color: white;
    border: none;
    /* icon은 보통 특수문자 같은 문자로 취급되어서 글자, 글꼴 스타일 적용 가능 */
    font-size: 1.2em;
    color: #455ba8;
    cursor: pointer;
}
header>section:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: center;
}

/* nav */
nav{
    height: 50px;
    border-bottom: 2px solid black;
    background-color: white;
    position: sticky;
    /* 화면 밖으로 요소가 벗어났을 때 지정된 위치에 고정 */
    top: 0;
    /* 고정 위치 지정 */
}
/* ul 스타일 지정 */
nav > ul{
    margin: 0;
    padding: 0;
    list-style: none; /* li 태그 앞에 점 삭제 */
    display: flex;
    height: 100%; /* nav가 flex 지정이 안 되어있기 때문에 stretch 설정 X -> 꽉 차게 height 지정 */
}
/* 네비게이터 메뉴 */
nav li{
    flex-basis: 150px;
}
/* 메뉴 내부 a 태그 */
nav li> a {
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: black;

    /* a 태그는 기본적으로 inline */
    display: block;
    height: 100%;

    /* 내부에 작성된 글자를 요소로 취급해서 정가운데 배치 */
    padding: 11px 0;
    text-align: center;

    border-radius: 5px;
    transition-duration: 0.1s;
}
/* 메뉴에 마우스가 올라왔을 때 */
nav li>a:hover{
    background-color: #455ba8;
    color: white;
}

/* content */
section.content{
    height: 800px;
    display: flex;
}
section.content>section:nth-child(1) { flex-basis: 70%; }

section.content>section:nth-child(2) { flex-basis: 30%; }
form[name='login-frm']{
    height: 150px;
    margin-top: 10px;
    padding: 10px;
    display: flex;
    /* 중심축 세로 변경 */
    flex-direction: column;
    /* 중심축 가운데 배치 */
    justify-content: center;
}
/* 아이디, 비밀번호, 로그인 버튼 영역 */
#id-pw-area{
    margin: 0;
    padding: 0;
    border: 1px solid #ddd;
    display: flex;

    /* form 태그 내부에서 중심축 방향으로 60%만큼 차지 */
    flex-basis: 60%;
}
/* id, pw 영역 */
#id-pw-area>section:nth-child(1){
    flex-basis: 75%;
    display: flex;
    flex-direction: column;
}
#id-pw-area>section:nth-child(1)>input{
    flex-basis: 50%;
    border: none;
    border-right: 1px solid #ddd;
    outline: none;
    padding: 5px;
}
/* id-pw 사이 선 */
#id-pw-area>section:nth-child(1)>input[name="inputId"]{
    border-bottom: 1px solid #ddd;
}
/* 아이디, 비밀번호 input 태그에 focus가 맞춰졌을 때 */
#id-pw-area>section:nth-child(1)>input:focus{
    border: 2px solid #455ba8;
}
/* 로그인 버튼 영역 */
#id-pw-area>section:nth-child(2){
    flex-basis: 25%;
}
#id-pw-area>section:nth-child(2)>button{
    width: 100%;
    height: 100%;
    border: none;
    background-color: white;
    cursor: pointer;
}
#id-pw-area>section:nth-child(2)>button:hover{
    background-color: #455ba8;
    color: white;
}
/* 아이디 저장 영역 */
form[name=login-frm]>label{
    margin-top: 5px;
    font-size: 14px;
}
/* 회원가입, ID/PW 찾기 영역 */
#signUp-find-area{
    margin-top: 10px;  
    padding-left: 5px; 
}
#signUp-find-area > a {
    color: black;
    text-decoration: none;
    font-size: 14px;
}
#signUp-find-area> span{
    padding: 0 10px;
}

/**********************************************************************************/
/* 헤더 오른쪽 상단 메뉴 */
header{ position: relative; } /* 상대적 기준 제공 */
#header-top-Menu{
    position: absolute;
    right: 0;
    top: 5px;
}

#header-top-Menu a{
    text-decoration: none;
    color: black;
}

#header-top-Menu *{
    font-size: 15px;
    font-weight: bold;
}

/* 메뉴 on/off 체크박스 */
#header-menu-toggle{
    display: none;
}

/* 오른쪽 상단 닉네임 */
/* label 태그 중 for 속성이 header-menu-toggle */
label[for='header-menu-toggle'] {
    cursor: pointer;
}
label[for='header-menu-toggle']:hover {
    text-decoration: underline;
}

/* header-menu-toggle의 다음 형제 div */
#header-menu-toggle + div {
    display: none;
}
/* 체크박스가 체크된 경우 div */
#header-menu-toggle:checked + div {
    display: block;
}

/* 닉네임 클릭 시 보이는 메뉴 */
#header-menu{
    position: absolute;
    z-index: 500;
    width: 100px;
    height: 80px;
    right: 0;
    margin-top: 5px;
    border: 1px solid black;
}
#header-menu >a {
    display: flex;
    height: 50%;
    justify-content: center;
    align-items: center;
}

#header-menu > a:first-child {
    border-bottom: 1px solid #ccc;
}

#header-menu >a:hover {
    background-color: #455ba890;
}

/**********************************************************************************/
/* 로그인 성공 시 화면 */
.login-area{
    height: 120px;
    padding: 30px 10px;  
    margin: 10px 0;
    border : 1px solid black;
    border-radius: 10px;
    display: flex;
    align-items: center;  /* cross axis 방향으로 가운데 정렬 */
}


/* 프로필 이미지 */
#member-profile{
    width: 64px;
    height: 64px;
    border-radius: 50%;  /* 원형 모양 */
}

/* 프로필 이미지를 감싸고 있는 a 태그 */
.login-area > a{
    display: block;
    width: 70px;
    height: 70px;
    border: 3px solid #ddd;
    border-radius: 50%;
}


/* 회원정보 + 로그아웃 버튼 영역 */
.my-info{
    width: 100%;
    height: 100%;
    margin-left: 20px;
}

.my-info > div{
    display: flex;
    justify-content: space-between;
}

.my-info a{   text-decoration: none;  }

/* 닉네임 */
#nickname{
    color: black;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: -3px;
}

/* 로그아웃 버튼 */
#logout-btn{
    color : gray;
    font-size: 14px;
    font-weight: bold;

    border : 2px solid gray;
    padding : 3px 5px;
    border-radius: 10px;
}

#logout-btn:hover{
    color : white;
    background-color: gray;
}

#logout-btn:active{
    transform: scale(0.8);
}

.my-info > p{
    margin: 0;
    color: gray;
}


/* main content */
#content-1-2 {
    width: 450px;
    border: solid 1px black;
    margin: 50px auto;
}

.secession{
    background-color: rosybrown;
}
.secession>td:first-of-type {
    text-decoration: line-through;
}



