.signUp-content{
    display: flex;
    justify-content: center;
    height: auto;
}

#signUp-frm {
    margin-top: 30px;
}

#signUp-frm > label{
    display: block;
    margin-top: 40px;
    font-size: 18px;
}

#signUp-frm > span {
    display: block;
    height: 20px;
}
.required{
    color: red;
    padding: 0 5px;
}

/* input 태그 감싸고 있는 div 태그 */
.signUp-input-area{
    width: 500px;
    height: 50px;
    margin-bottom: 10px;
    border-bottom: 2px solid #ddd;
    display: flex;
    align-items: center;
}

.signUp-input-area > input {
    width: 70%;
    height: 100%;
    padding: 15px 10px 5px;
    font-size: 16px;
    border: none;
    outline: none;
}

.signUp-input-area > button {
    width: 30%;
    height: 70%;
    background-color: white;
    border: 1px solid gray;
    cursor: pointer;
}

/* .signUp-input-area:focus-within 
    -> .signUp-input-area 내부 input 요소에 focus가 되었을 때 감싸고 있는 요소의 스타일이 바뀜 */
.signUp-input-area:focus-within{
    border-bottom-color: #455ba8;
}

/* 입력 관련 메세지 */
.signUp-message{
    font-size: 14px;
    letter-spacing: -1px;
}
/* 메세지 색상 지정 */
.confirm{color: green;}
.error{color: red;}

/* 회원 가입 버튼 */
#signUp-btn {
    width: 100%;
    padding: 10px;
    margin: 50px 0;
    border: none;
    background-color: #455ba8;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

#signUp-btn:active {
    transform: scale(0.95);
}
